@{
    ViewBag.Title = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    function $_GET(param) {
        var vars = {};
        window.location.href.replace(location.hash, '').replace(
            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
            function (m, key, value) { // callback
                vars[key] = value !== undefined ? value : '';
            }
        );

        if (param) {
            return vars[param] ? vars[param] : null;
        }
        return vars;
    }

    var businesslogicsheet = Number($_GET('data'));

    var codemaint = [];

    //$("#codemaint").ready(function () {
    $.ajax({
        url: "/Home/Businesslogicinputs",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: false,
        type: "POST",
        data: "data",
        success: function (json) {
            console.log(json);
            codemaint = json;
        },
        error: function () {
            $("#codemaint").html("ERROR");
        }
    });
    //}); -- end of function 

</script>

<div class="container">
    <div id="codemaintinputs">
        <form method="post">
            <div id="codemaint"></div>
            <div id="businesslogicpagination">
                <ul class="pagination"></ul>
            </div>
            <input type="submit" />
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <form method="post" action="http://localhost:50008/?data=1">
                    <div class="modal-body">
                        <table></table>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="submitnew" class="btn btn-default" data-dismiss="modal" />
                    </div>
                </form>
            </div>

        </div>
    </div>


    </div>


<script>

    var panels = "<div id='mainpanel' class='panel panel-default'><div id='panelheading' class='panel-heading'>GLDatabase(11)</div><div id='panelbody' class='panel-body'><div id='panelnumber'></div></div></div>";
    var panelbody = "<div id='col-md-4' class='col-md-4'><label>GL_Database</label><input type='text' /></div>";

    //Dynamically filling up input boxes
    //for (a = 0; a < codemaint.length; a++)
    for (a = businesslogicsheet; a < businesslogicsheet + 1; a++)
    {
        $("#codemaint").append($("<div class='panel panel-default mainpanel" + a + "'><div id='panelheading' class='panel-heading'>" + codemaint[a].Sheet + "<div class='pull-right'><button type='button' id='add' data-toggle='modal' data-target='#myModal' class='btn-success'>Add +</button></div></div><div id='panelbody" + a + "' class='panel-body panelbody" + a + "'><div id='panelnumber'></div></div></div>"));
        for (b = 0; b < codemaint[a].Details.length; b++)
        {
            $(".mainpanel" + a + "> #panelbody" + a).append($("<div class='row row" + b + "'></div><hr>"));
            for (c = 0; c < codemaint[a].Titles.length; c++)
            {
                $(".mainpanel" + a + "> #panelbody" + a + "> .row" + b).append($("<div class='col-md-4'><label>" + codemaint[a].Titles[c] + "</label><br><input type='text' value='" + codemaint[a].Details[b].DetailModelValues[c].value + "'/></div>"));
            }
        }
    }

    //Dynamically filling up Pagination
    for (d = 0; d < codemaint.length; d++)
    {
        $(".pagination").append($("<li><a href='http://localhost:50008/?data=" + d + "'>" + codemaint[d].Sheet + "</a></li>"));
    }

    //Dynamically Fill Modal Overlay Inputs
    for (d = 0; d < codemaint[businesslogicsheet].Titles.length; d++)
    {
        $('form > .modal-body > table').append($("<tr><td><label>" + codemaint[businesslogicsheet].Titles[d] + "</label></td><td><input class='newinputs' type='text' value='testing" + d + "'/></td></tr>"));
    }

    //Adding new Items to Webpage
    $("#submitnew").click(function () {
        codemaint[businesslogicsheet].Details.push({ "DetailID": (codemaint[businesslogicsheet].Details.length + 1), "DetailModelValues": [] });

        var insertdetails = codemaint[businesslogicsheet].Details.length - 1;

        $(".mainpanel" + businesslogicsheet + "> #panelbody" + businesslogicsheet).append($("<div class='row row" + insertdetails + "'></div><hr>"));

        var insertrows = codemaint[businesslogicsheet].Details.length - 1;

        for (x = 0; x < codemaint[businesslogicsheet].Titles.length; x++)
        {
            codemaint[businesslogicsheet].Details[insertrows].DetailModelValues.push({ "value": document.getElementsByClassName("newinputs")[x].value });
            $(".mainpanel" + businesslogicsheet + "> #panelbody" + businesslogicsheet + "> .row" + insertdetails).append($("<div class='col-md-4'><label>" + codemaint[businesslogicsheet].Titles[x] + "</label><br><input type='text' value='" + codemaint[businesslogicsheet].Details[insertrows].DetailModelValues[x].value  + "'/></div>"));   
        }
    });

    

</script>