@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<script>

    function $_GET(param) {
        var vars = {};
        window.location.href.replace(location.hash, '').replace(
            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
            function (m, key, value) { // callback
                vars[key] = value !== undefined ? value : '';
            }
        );
        if (param) {
            return vars[param] ? vars[param] : null;
        }
        return vars;
    }
    var businesslogicsheet = Number($_GET('data'));

    var codemaint = [];


    $('.loadsubmit').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 2000);
    });

</script>
<style>
    .modal-dialog {
        position: fixed;
        left: 50%;
        clear: both;
    }
</style>
<button type='button' id='add' data-toggle='modal' data-target='#myModal' class='btn-success'>Add +</button>

<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add</h4>
                </div>
                <form method="post" action="http://localhost:50008/?data=1">
                    <div class="modal-body modalbodyadd">
                        <table></table>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="submitnew" class="btn btn-default" data-dismiss="modal" />
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!--Edit Modal -->
    <div class="modal fade" id="editmyModal" role="dialog">
        <div class="modal-dialog">

            <!--Edit Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit</h4>
                </div>
                <form method="post" action="http://localhost:50008/?data=1">
                    <div class="modal-body modalbodyedit">
                        <table></table>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="submitedit" class="submitedit btn btn-default" data-dismiss="modal" />
                    </div>
                </form>
            </div>

        </div>
    </div>

        <table id="codemaintdatatable" class="table table-striped table-bordered"></table>

    <div id="codemaintinputs">
        <form method="post">
            <div id="codemaint"></div>
            <div id="businesslogicpagination">
                <ul class="pagination" id="paginate"></ul>
            </div>
            <!--<button type="button" id="submitall">Submit</button>-->
            <button type="button" class="btn-primary btn-lg " id="submitall" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order">Submit Order</button>
        </form>
    </div>

    </div>


<script>

    //$("#codemaint").ready(function () {
    $.ajax({
        url: "/Home/Businesslogicinputs",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: false,
        type: "POST",
        data: "data",
        success: function (json) {
            //console.log(json);
            codemaint = json;

            var datat = {
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "data": [[]],
                "columns": [],
                "aaSorting": []
            };

            datat.columns[0] = {};
            datat.columns[0] = { "title": "Edit", "stitle": "Edit" };
            for (x = 0; x < json[businesslogicsheet].Titles.length; x++) {
                datat.columns[x + 1] = {};
                datat.columns[x + 1] = { "title": json[businesslogicsheet].Titles[x], "stitle": json[businesslogicsheet].Titles[x]};
            }

            for (x = 0; x < json[businesslogicsheet].Details.length; x++) {
                datat.data[x] = ["<button class='edit' data-toggle='modal' data-target='#editmyModal' value=" + x + ">Edit</button><button id='delete' value=" + x + ">Delete</button>"];
                //Table Data
                for (y = 0; y < json[businesslogicsheet].BusinesslogicIDs.length; y++) {
                    datat.data[x].push(json[businesslogicsheet].Details[x].DetailModelValues[y].value);
                }
            }

            console.log(datat);

            $('#codemaintdatatable').dataTable(datat);
        },
        error: function () {
            $("#codemaint").html("ERROR");
        }
    });

    var tabledata = $('#codemaintdatatable').DataTable();

    //Dynamically Fill Edit Modal Overlay Inputs
    $(".edit").click(function () {
        var buttonvalue = $(this).val();
        $('form > .modalbodyedit > table').html('');
        $('.submitedit').attr("id", buttonvalue);
        for (x = 0; x < codemaint[businesslogicsheet].Details[buttonvalue].DetailModelValues.length; x++) {
            $('form > .modalbodyedit > table').append($("<tr><td><label>" + codemaint[businesslogicsheet].Titles[x] + "</label></td><td><input class='editinputs inputs' type='text' value='" + codemaint[businesslogicsheet].Details[buttonvalue].DetailModelValues[x].value + "'/></td></tr>"));
        }
    });

    //Dynamically Fill Modal Overlay Inputs
    for (d = 0; d < codemaint[businesslogicsheet].Titles.length; d++) {
        $('form > .modalbodyadd > table').append($("<tr><td><label>" + codemaint[businesslogicsheet].Titles[d] + "</label></td><td><input class='newinputs inputs' type='text' value=''/></td></tr>"));
    }

    //Submit Edit Modal
    $(".submitedit").click(function () {
        var buttonvalue = $(this).attr("id");
        for (x = 0; x < codemaint[businesslogicsheet].Titles.length; x++) {
            codemaint[businesslogicsheet].Details[buttonvalue].DetailModelValues[x].value = document.getElementsByClassName("editinputs")[x].value;
            $("#" + buttonvalue + " > .details" + x).text(codemaint[businesslogicsheet].Details[buttonvalue].DetailModelValues[x].value);
        }
    });

    //Dynamically filling up Pagination
    for (d = 0; d < codemaint.length; d++)
    {
        $("#paginate").append($("<li><a href='../?data=" + d + "'>" + codemaint[d].Sheet + "</a></li>"));
    }

    //Adding new Items to Webpage
    $("#submitnew").click(function () {
        codemaint[businesslogicsheet].Details.push({ "DetailID": (codemaint[businesslogicsheet].Details.length + 1), "DetailModelValues": [] });

        var insertdetails = codemaint[businesslogicsheet].Details.length - 1;

        var insertrows = codemaint[businesslogicsheet].Details.length - 1;

        for (x = 0; x < codemaint[businesslogicsheet].Titles.length; x++)
        {
            codemaint[businesslogicsheet].Details[insertrows].DetailModelValues.push({ "value": document.getElementsByClassName("newinputs")[x].value });
        }

        tabledata.row.add(["<button>Edit</button>", "Testing", "Testing description", "Inactive", "GLDB", "ALTCode", "Region", "Client", "Contact", "Vendor"]).draw();
        console.log(codemaint);
    });

    //Delete Elements
    $("table #delete").click(function () {
        var value = $(this).val();
        if (confirm("Are you sure you want to delete this line?") == true) {
            tabledata.row($(this).parents('tr')).remove().draw(false);
        }
        delete codemaint[businesslogicsheet].Details[value];
        console.log(codemaint);
    });

    //Send Data back to DB
    $("#submitall").click(function () {

        var z = 0;
        var InsertDetailsobj = [];
        for (x = 0; x < codemaint[businesslogicsheet].Details.length; x++) {
            for (y = 0; y < codemaint[businesslogicsheet].BusinesslogicIDs.length; y++) {
                //InsertDetailsobj.push({ "Numbers": x + 1, "BusinessLogicids": codemaint[businesslogicsheet].BusinesslogicIDs[y], "Values": document.getElementsByClassName("inputs")[z].value });
                InsertDetailsobj.push({ "Numbers": x + 1, "BusinessLogicids": codemaint[businesslogicsheet].BusinesslogicIDs[y], "Values": codemaint[businesslogicsheet].Details[x].DetailModelValues[y].value });
                z++;
            }
        }

        console.log(InsertDetailsobj);

        InsertDetailsobj = JSON.stringify({ 'InsertDetail': InsertDetailsobj });

        $.ajax({
            type: "POST",
            url: "Home/InsertBusinessLogic",
            data: InsertDetailsobj,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (insertdata)
            {
                console.log(insertdata);
            },
            error: function () {
                console.log("ERROR");
            }
        }); 
    });
    

</script>