@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div id="testing">Click me</div>
    <div id="codemaint">Code Maint Click here</div>
    <div id="codes">
        <div class="panel panel-default">
            <div class="panel-heading">Panel Heading</div>
            <div class="panel-body">
                <div class="row" id="row">
                    <div id ="col-md-4" class="col-md-4">
                        <label>GL_Database </label><input type="text" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div id="col-md-4" class="col-md-4">
                        <label>GL_Database</label><input type="text" />
                    </div>
                    <div class="col-md-4">
                        <label>GL_Database</label><input type="text" />
                    </div>
                    <div class="col-md-4">
                        <label>GL_Database</label><input type="text" />
                    </div>
                    <div class="col-md-4">
                        <label>GL_Database</label><input type="text" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    var codemaint = [];

    //$("#codemaint").ready(function () {
        $.ajax({
            url: "/Home/Businesslogicinputs",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            type: "POST",
            data: "data",
            success: function (json) {
                console.log(json);
                $('#codemaint').html(json[3].Titles[7] + " : " + json[3].Details[0].DetailModelValues[7].value);
                codemaint = json;
            },
            error: function () {    
                $("#codemaint").html("ERROR");
            }
        });
    //}); -- end of function 

        for (x = 0; x < codemaint.length; x++)
        {
            $("#codemaint").prepend("<div id='mainpanel' class='panel panel-default'><div id='panelheading' class='panel-heading'>" + codemaint[x].Sheet + "(" + codemaint[x].Details.length + ")" + "</div><div id='panelbody' class='panel-body'><div id='panelnumber'></div></div></div>");

        }

        var panelrow = $('<p>hello</p>').html();
        $('#panelnumber').append(panelrow);


        //alert($('.panel-body > .row').length);
        //alert(codemaint[2].Details[786].DetailModelValues[3].value);

</script>